<% for photo in @photos%>
    <ul class="clearing-thumbs" data-clearing>
      <li><a href="<%= photo.image%>"><img data-caption="<%= photo.title%>" src="<%= photo.image%>"></a></li>
    </ul>
    <br>
    <hr>
<% end %>